@page "/"
@page "/Home"

<div class="container">
        <h1 class="display-1">Home Page</h1>
        <p class="display-4">Best Buy Blazor Demo!</p>
        <img class="img-fluid" src="/imgs/blazor.svg">
</div>

