@page "/"
@page "/Home"

<div class="container">

        <h1 class="display-1">Home Page</h1>
        <p class="display-4">Best Buy Blazor Demo!</p>
        <img src="/imgs/blazor.svg">

    @*<div class="col-6">
        <h1 class="display-1">Home Page</h1>
        <p class="display-4">Best Buy Blazor Demo!</p>
    </div>
    <div class="col-6">
        <img src="/imgs/blazor.svg">
    </div>*@
</div>



@code {

}
