@page "/"
@page "/Home"

<section>
    <div class="text-center mb-5">
        <h1>Build beautiful web apps with Blazor! </h1>
        <p>Use the power of .NET and C# to build full stack web apps without writing a line of JavaScript.</p>        
        <img class="img-fluid" src="https://dotnet.microsoft.com/static/images/refresh/blazor-hero.png" />
    </div>
</section>
