<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img style="height:2.0em; padding-bottom:10px;" src="/imgs/blazor.svg" /> BlazorBestBuyDemo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="GetAllProducts" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="CreateProduct" Match="NavLinkMatch.All">
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Add Product
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
