@page "/GetAllProducts"
@using BlazorBestBuyDemo.Data
@using BlazorBestBuyDemo.Services
@inject IProductService productService


<div>
    <h1 class="display-1 text-center m-5">Get All Products</h1>

    @foreach (var p in _products)
    {
        string isOnsale = p.OnSale == true ? "✅" : "❌";
        int categoryID = p.CategoryID;


        <div class="row bg-dark text-white-50 m-5">
            <div class="col">
                <a href="/ViewProduct/@p.ProductID">
                    <div class="card bg-dark mt-2">
                        <img class="card-img-top w-75" src="imgs/@GetPictureByCategoryID(categoryID)" />
                        <div class="card-body">
                            <p>Product Description (needs to be added to database)</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col pt-2">
                <h5>@p.Name</h5>
                <h5>$@p.Price</h5>
                <h5>Category ID: @p.CategoryID</h5>
                <h5>On Sale: @isOnsale</h5>
                <h5>Stock Level: @p.StockLevel</h5>
                <div class="my-4">
                    <p class="m-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>



        </div>

    }
</div>


@code {
    private IEnumerable<Product> _products;

    public string GetPictureByCategoryID(int categoryID)
    {
        switch (categoryID)
        {
            case 1:
                return "Computers.jpg";
            case 2:
                return "Appliances.jpg";
            case 3:
                return "Phones.jpg";
            case 4:
                return "Audio.jpg";
            case 5:
                return "Home Theater.jpg";
            case 6:
                return "Printers.jpg";
            case 7:
                return "Music.jpg";
            case 8:
                return "Games.jpg";
            case 9:
                return "Services.jpg";
            default:
                return "Other.jpg";
        }
    }

    protected override void OnInitialized()
    {
        _products = productService.GetAllProducts();
    }
}