@page "/GetAllProducts"
@using BlazorBestBuyDemo.Data
@using BlazorBestBuyDemo.Services
@inject IProductService productService

<div>
    <h1 class="display-1 text-center m-5">Get All Products</h1>

    @for (int i = 0; i < _products.Count(); i++)
    {
        int productID = _products[i].ProductID;
        string name = _products[i].Name;
        double price = _products[i].Price;
        int categoryID = _products[i].CategoryID;
        string isOnsale = _products[i].OnSale == true ? "✅" : "❌";
        int stockLevel = _products[i].StockLevel;

        <div class="row">
            <div class="col-md m-2">
                <div class="row bg-dark text-white-50 m-5">
                    <div class="col">
                        <a href="/ViewProduct/@productID">
                            <div class="card bg-dark mt-2">
                                <div class="card-body">
                                <img class="card-img-top w-75" src="imgs/@GetPictureByCategoryID(categoryID)" />
                                    <p class="mt-2">
                                        Product Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col pt-2">
                        <h5>@name</h5>
                        <h5>$@price</h5>
                        <h5>Category ID: @categoryID</h5>
                        <h5>On Sale: @isOnsale</h5>
                        <h5>Stock Level: @stockLevel</h5>
                        <div class="my-4">
                            <p class="m-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    }
</div>


@code {
    private List<Product> _products = new List<Product>();

    public string GetPictureByCategoryID(int categoryID)
    {
        switch (categoryID)
        {
            case 1:
                return "Computers.jpg";
            case 2:
                return "Appliances.jpg";
            case 3:
                return "Phones.jpg";
            case 4:
                return "Audio.jpg";
            case 5:
                return "Home Theater.jpg";
            case 6:
                return "Printers.jpg";
            case 7:
                return "Music.jpg";
            case 8:
                return "Games.jpg";
            case 9:
                return "Services.jpg";
            default:
                return "Other.jpg";
        }
    }

    protected override void OnInitialized()
    {
        _products = productService.GetAllProducts().ToList();
    }
}